#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/
composer.lock

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache
system/CodeIgniter.php
system/Debug/Exceptions.php
system/ThirdParty/Escaper/Escaper.php
system/ThirdParty/Escaper/Exception/ExceptionInterface.php
system/ThirdParty/Escaper/Exception/InvalidArgumentException.php
system/ThirdParty/Escaper/Exception/RuntimeException.php
system/ThirdParty/Kint/CallFinder.php
system/ThirdParty/Kint/init.php
system/ThirdParty/Kint/init_helpers.php
system/ThirdParty/Kint/Kint.php
system/ThirdParty/Kint/Object/BasicObject.php
system/ThirdParty/Kint/Object/BlobObject.php
system/ThirdParty/Kint/Object/ClosureObject.php
system/ThirdParty/Kint/Object/DateTimeObject.php
system/ThirdParty/Kint/Object/InstanceObject.php
system/ThirdParty/Kint/Object/MethodObject.php
system/ThirdParty/Kint/Object/ParameterObject.php
system/ThirdParty/Kint/Object/Representation/ColorRepresentation.php
system/ThirdParty/Kint/Object/Representation/DocstringRepresentation.php
system/ThirdParty/Kint/Object/Representation/MicrotimeRepresentation.php
system/ThirdParty/Kint/Object/Representation/Representation.php
system/ThirdParty/Kint/Object/Representation/SourceRepresentation.php
system/ThirdParty/Kint/Object/Representation/SplFileInfoRepresentation.php
system/ThirdParty/Kint/Object/ResourceObject.php
system/ThirdParty/Kint/Object/StreamObject.php
system/ThirdParty/Kint/Object/ThrowableObject.php
system/ThirdParty/Kint/Object/TraceFrameObject.php
system/ThirdParty/Kint/Object/TraceObject.php
system/ThirdParty/Kint/Parser/ArrayObjectPlugin.php
system/ThirdParty/Kint/Parser/Base64Plugin.php
system/ThirdParty/Kint/Parser/BinaryPlugin.php
system/ThirdParty/Kint/Parser/BlacklistPlugin.php
system/ThirdParty/Kint/Parser/ClassMethodsPlugin.php
system/ThirdParty/Kint/Parser/ClassStaticsPlugin.php
system/ThirdParty/Kint/Parser/ClosurePlugin.php
system/ThirdParty/Kint/Parser/ColorPlugin.php
system/ThirdParty/Kint/Parser/DateTimePlugin.php
system/ThirdParty/Kint/Parser/DOMDocumentPlugin.php
system/ThirdParty/Kint/Parser/FsPathPlugin.php
system/ThirdParty/Kint/Parser/IteratorPlugin.php
system/ThirdParty/Kint/Parser/JsonPlugin.php
system/ThirdParty/Kint/Parser/MicrotimePlugin.php
system/ThirdParty/Kint/Parser/MysqliPlugin.php
system/ThirdParty/Kint/Parser/Parser.php
system/ThirdParty/Kint/Parser/Plugin.php
system/ThirdParty/Kint/Parser/ProxyPlugin.php
system/ThirdParty/Kint/Parser/SerializePlugin.php
system/ThirdParty/Kint/Parser/SimpleXMLElementPlugin.php
system/ThirdParty/Kint/Parser/SplFileInfoPlugin.php
system/ThirdParty/Kint/Parser/SplObjectStoragePlugin.php
system/ThirdParty/Kint/Parser/StreamPlugin.php
system/ThirdParty/Kint/Parser/TablePlugin.php
system/ThirdParty/Kint/Parser/ThrowablePlugin.php
system/ThirdParty/Kint/Parser/TimestampPlugin.php
system/ThirdParty/Kint/Parser/ToStringPlugin.php
system/ThirdParty/Kint/Parser/TracePlugin.php
system/ThirdParty/Kint/Parser/XmlPlugin.php
system/ThirdParty/Kint/Renderer/CliRenderer.php
system/ThirdParty/Kint/Renderer/PlainRenderer.php
system/ThirdParty/Kint/Renderer/Renderer.php
system/ThirdParty/Kint/Renderer/Rich/BinaryPlugin.php
system/ThirdParty/Kint/Renderer/Rich/BlacklistPlugin.php
system/ThirdParty/Kint/Renderer/Rich/CallablePlugin.php
system/ThirdParty/Kint/Renderer/Rich/ClosurePlugin.php
system/ThirdParty/Kint/Renderer/Rich/ColorPlugin.php
system/ThirdParty/Kint/Renderer/Rich/DepthLimitPlugin.php
system/ThirdParty/Kint/Renderer/Rich/DocstringPlugin.php
system/ThirdParty/Kint/Renderer/Rich/MicrotimePlugin.php
system/ThirdParty/Kint/Renderer/Rich/ObjectPluginInterface.php
system/ThirdParty/Kint/Renderer/Rich/Plugin.php
system/ThirdParty/Kint/Renderer/Rich/PluginInterface.php
system/ThirdParty/Kint/Renderer/Rich/RecursionPlugin.php
system/ThirdParty/Kint/Renderer/Rich/SimpleXMLElementPlugin.php
system/ThirdParty/Kint/Renderer/Rich/SourcePlugin.php
system/ThirdParty/Kint/Renderer/Rich/TablePlugin.php
system/ThirdParty/Kint/Renderer/Rich/TabPluginInterface.php
system/ThirdParty/Kint/Renderer/Rich/TimestampPlugin.php
system/ThirdParty/Kint/Renderer/Rich/TraceFramePlugin.php
system/ThirdParty/Kint/Renderer/RichRenderer.php
system/ThirdParty/Kint/Renderer/Text/BlacklistPlugin.php
system/ThirdParty/Kint/Renderer/Text/DepthLimitPlugin.php
system/ThirdParty/Kint/Renderer/Text/MicrotimePlugin.php
system/ThirdParty/Kint/Renderer/Text/Plugin.php
system/ThirdParty/Kint/Renderer/Text/RecursionPlugin.php
system/ThirdParty/Kint/Renderer/Text/TracePlugin.php
system/ThirdParty/Kint/Renderer/TextRenderer.php
system/ThirdParty/Kint/resources/compiled/aante-light.css
system/ThirdParty/Kint/resources/compiled/microtime.js
system/ThirdParty/Kint/resources/compiled/original.css
system/ThirdParty/Kint/resources/compiled/plain.css
system/ThirdParty/Kint/resources/compiled/plain.js
system/ThirdParty/Kint/resources/compiled/rich.js
system/ThirdParty/Kint/resources/compiled/shared.js
system/ThirdParty/Kint/resources/compiled/solarized-dark.css
system/ThirdParty/Kint/resources/compiled/solarized.css
system/ThirdParty/Kint/Utils.php
*.png
*.jpg
app.zip
